body {
  background-color: whitesmoke;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.fixed-paragraph {
  max-width: 500px;
  text-align: left;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.5em;
}

.Introduction {
  display: flex;
  flex-direction: column;
}
.description {
  font-size: larger;
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.outerHeading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  margin: 2rem 2rem;
  //max-width: 800px; /* Set a maximum width for the card */
  text-align: center;
  flex-direction: row; /* Stack the content vertically */
}

.card__content {
  width: 100%; /* Full width for the content */
}

.card__image {
  width: 400px; /* Full width for the image */
  height: 18.75rem;
  height: auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 5px 10px;
}

.card__info {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  justify-content: flex-start;
  line-height: 1.5em;
  font-size: 22px;
  margin-top: 1rem;
  text-align: justify;

  //text-align: center; /* Center the text within the card info */
}

.card__title {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 1rem;
}

.card__description {
  max-width: 600px; /* Adjust the maximum width as needed */
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  text-align: center; /* Center the text within the about section */
  margin: 3rem 0;
}

.about__divimg {
  margin: 2rem 0;
}

.about__img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
}

.name {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.projects__heading {
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 3rem 0;
}

.mark {
  background-color: rgba(105, 211, 145, 0.3);
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 2rem;
  padding: 1rem 0;
}
.footer_container {
}

.icon {
  height: 70px;
}
@media (max-width: 768px) {
  .footer__socials {
    flex-direction: column; /* Center icons on smaller screens */
  }

  .icon {
    margin: 1rem; /* Add some spacing between icons */
  }
}

@media only screen and (max-width: 767px) {
  .Introduction {
    margin: 2rem 1rem;
  }
  .description {
    text-align: left;
    margin: 0 1rem;
  }

  .card {
    max-width: 100%; /* Allow cards to take full width on small screens */
  }

  .about {
    margin: 2rem 0;
  }

  .about__img {
    max-width: 100%;
  }
  .fixed-paragraph {
    text-align: left; /* Reset text alignment to left for paragraphs */
    margin: 0 1rem; /* Center the fixed-width paragraphs horizontally */
    font-size: 20px; /* Apply a fixed font size to paragraphs */
    line-height: 1.5em;
    padding-right: 7rem;
    padding-left: 7rem;
  }
  .center {
    padding: 0 7rem;
  }
  .container {
    justify-content: center;
    align-items: center;
    margin: 5rem;
    flex-direction: column;
  }
  .description {
    width: 300px;
    margin: 0rem 5rem 0rem 6.5rem;
  }
  .Introduction {
    margin: 5rem 5rem 0rem 3rem;
  }
}

.Introduction {
  margin: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  flex-direction: column;
}
